*{
    Margin:0 0;
    Padding:0 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container1{
    width:40%;
    line-height:20px;
    margin:30px;
    word-spacing: 7px;
    letter-spacing: 1px;
}